[build]
  command = "npm run build"
  publish = ".next"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[context.production.environment]
  GOOGLE_OAUTH_REDIRECT = "https://tuapp.netlify.app/callback"
